#!/usr/bin/env python
data_dir=$1
env_name="ukb_seg"
ENVS=$(conda env list | awk '{print $env_name}' )
## If environment exist run it if no create it

if [[ $ENVS = *"$env_name"* ]]; then
   echo "Activating environment"
   conda activate $env_name
else 
   echo "Creating environment"
   conda env create -f environment.yml
   conda activate $env_name
fi;
conda env list
## Set a path
dir=$PWD
parentdir="$(dirname "$dir")"
export PYTHONPATH=$parentdir:"${PYTHONPATH}"
##### Run segmentation
python3 common/deploy_network.py --seq_name la_4ch --data_dir $data_dir --seg4 --model_path trained_model/FCN_la_4ch_seg4
echo "DONE! The output is in $data_dir"